// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "enabled": "true",
  "showDayNight": "true",
  "minimapLockedMapType": "jm.common.map_type.auto",
  "caveLayer": "4",
  "info1Label": "jm.theme.labelsource.location",
  "info1LabelPosition": "Bottom",
  "info2Label": "jm.theme.labelsource.biome",
  "info2LabelPosition": "Bottom",
  "info3Label": "jm.theme.labelsource.gametime.real",
  "info3LabelPosition": "Bottom",
  "info4Label": "jm.theme.labelsource.blank",
  "info4LabelPosition": "Bottom",
  "infoSlotAlpha": "0.5",
  "infoSlotFontScale": "1.75",
  "infoSlotTimeFormat": "HH:mm",
  "systemTimeRealFormat": "HH:mm",
  "reticleOrientation": "Compass",
  "shape": "Square",
  "sizePercent": "30",
  "frameAlpha": "30",
  "terrainAlpha": "100",
  "backgroundAlpha": "0.8",
  "orientation": "North",
  "compassFontScale": "1.25",
  "showCompass": "true",
  "showReticle": "false",
  "positionX": "0.7453125",
  "positionY": "0.0",
  "moveEffectIcons": "true",
  "hideEffectIcons": "false",
  "effectTranslateX": "-2",
  "effectTranslateY": "141",
  "effectVertical": "true",
  "effectReversed": "false",
  "minimapKeyMovementSpeed": "0.001",
  "hudRenderLayer": "Last",
  "position": "TopRight",
  "active": true,
  "propertiesId": 1,
  "playerDisplay": "OutlinedIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.0",
  "showPlayerHeading": "false",
  "mobDisplay": "Dots",
  "mobDisplayScale": "1.0",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showAmbientCreatures": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "1.75",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.25",
  "waypointIconScale": "1.25",
  "locationFormatVerbose": "true",
  "locationFormat": "xyz",
  "showOffScreenPlayers": "true",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showPlayerNames": "true",
  "showTeamNames": "true",
  "showEntityNames": "true",
  "showHostileNames": "false",
  "showPassiveNames": "false",
  "showAmbientNames": "false",
  "showPetNames": "false",
  "showNpcNames": "false",
  "showVillagerNames": "false",
  "showNoIconNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "512",
  "configVersion": "6.0.0-beta.63"
}